.breadcrumbs {
	padding-bottom: 0.65rem;
	color: var(--fg);
	font-size: 0.8rem;
}

.breadcrumbs__list {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style: none;
}

.breadcrumbs__item {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	opacity: 0.62;

	&:not(:last-child)::after {
		content: '/';
		opacity: 0.5;
	}

	a {
		color: inherit;
		text-decoration: none;
		font-weight: 600;

		&:hover {
			text-decoration: underline;
		}
	}
}
